body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #BF9A54;
    color:yellow;
    background-image: url("./images/animal2.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 3px black;
}

.wrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

/* HEADER SECTION */

.header {
    overflow: hidden;
}

header h1 {
    /* float: left; */
    font-size: 160%; 
    font-size: 40px;
    display: inline-block;     
}

/* END HEADER SECTION */

/* NAVIGATION */

nav {
    float: right;
}

nav ul li {
    list-style: none;
    float: left;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 180%;
    font-weight: 600;
    color: yellowgreen; 
    padding: 6px;
    
}

nav ul li a:hover {
    color:orange;
    border-bottom: 2px yellow solid; 
    transition: .1s;
    border-top: 2px yellow solid; 
    
}

/* END NAVIGATION */

/* SECTIONS */
section:after {
    content: " ";
    display: block;
    clear: both;
}

section div.container img {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    border: 1px solid transparent;
    opacity: 1;
    transition: opacity .5s;
}

section div.container a:hover img {
   opacity: .7;
}

section {
    background-color: black;
    
}

section {
    margin-bottom: 3%;
}

 h2 {
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 3px black;
}

/* END OF SECTIONS */

/* FOOTER SECTION */
.footer {
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
}

.footer p {
    font-weight: 700;
}
/* END FOOTER SECTION */

/* MEDIA QUERIES/RESPONSIVE */
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    
    header h1 {
        margin-left: 3%;
        font-size: 27px;
    }
    /* menu icon comented
    #menu-icon {
        display: block;
        width: 30px;
        height: 26px;
        background: url(images/menu.png) no-repeat center;
        position: absolute;
        top: 2%;
        right: 5%;
        z-index: 100;
    }
    */
     nav ul{
        display: flex;
        position: absolute;
        right: 0%;
        top: 0%;
        padding-top: 0px;
        padding-right: 30px;
        width: 300px;
        text-align: center;
        z-index: 10;
        border-radius: 6px ;
    }


    nav ul li {
        width: 90%;
        padding: 5%;
        margin: auto;
    }
    nav ul li a {
        padding: 5% 20%;
        font-size: 24px;
    }
    nav ul li a:hover {
        border-bottom: 2px solid green;
        color: green;
        transition: .7s;
        color: orange;
        border-bottom: 3px yellow solid;
        
    }
    /*

    nav:hover ul {
        display: block;
        commenting for click the menu icon to see the items
    }
    */
    section div.container img {
        display: block;
        float: none;
        width: 100%;
        height: auto;
    }

    h2{
        font-size: 27px;
    }




}

@media only screen and (min-width: 768px) and
(max-width: 1024px) {
    .wrapper {
        width: 100%;
    }
    header h1 {
        margin-left: 3%; 
    }
    nav {
        margin-right: 3%;
    }
}

/* Scroll to Top */
/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

/*
nav:hover ul{
    display: block;

}
*/

.nav-items{
    display: block;
    position: absolute;
    right: 5%;
    top: 0%;
    padding: 3% 7%;
    background: #C0B6A8;
    width: 200px;
    text-align: center;
    z-index: 10;
    border-radius: 6px ;
}




#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 4px green solid; /* Remove borders */
    outline: black; /* Remove outline */
    background-color: yellow; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 3px 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
}

#topBtn:hover {
    
    outline: green; /* Remove outline */
    background-color:black; /* Set a background color */
    color:white; /* Text color */
    transition: .6s;
}

/*this is for toggle class nav items*/






